<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}ASD test app{% endblock %}</title>

    {% block styles %}
        {# bootstrap #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        {# font-awesome #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        {% block extrastyles %}{% endblock %}
    {% endblock %}

    {% block scripts %}
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        {# bootstrap #}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% block extrascripts %} {% endblock %}
    {% endblock %}
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class=flashes>
        {% for category, message in messages %}
            <div class="alert alert-{{ 'info' if category == 'message' else category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">WASD</a>
        </div>
        <div id="navbar-content" class="collapse navbar-collapse">
            {% block navitems %}
            <ul class="nav navbar-nav">
            {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('main.new') }}">New</a></li>
                <li><a href="{{ url_for('main.listall') }}">Yours</a></li>
            {% endif %}
            </ul>

            <div class="navbar-right">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated() %}
                    <li class="navbar-text  ">
                        Hello, {{ current_user.get_display_name() }}
                    </li>
                    <li>
                        <a href="{{ url_for('local_auth.logout') }}">Log out</a>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('local_auth.login') }}">Log in</a></li>
                {% endif %}
            </ul>
            </div>
            {% endblock %}
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}
</body>
</html>
