{% extends "base.html" %}

{% block content %}
    <table class="table table-hover table-stripped">
    <thead>
        <tr>
            <th>Original filename</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for f in current_user.files %}
        <tr>
        <td>{{ f.original_filename }}</td>
        <td>
            {% if f.file.hashsum %}
                <a href="{{ url_for('main.directlink', userfile=f.file.hashsum, filename=f.original_filename) }}"
                   class="btn btn-default" role="button">
                    <i class="fa fa-link"></i> Permalink
                </a>
            {% endif %}
            <a href="{{ url_for('main.delete', file_id=f.file.id) }}" class="btn btn-danger" role="button">
                <i class="fa fa-times"></i> Delete
            </a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
