{% extends "base.html" %}

{% block content %}
<div class="container">
    <form action="." method="post" class="form-horizontal row">
        <div class="form-group">
            <label for="username" class="control-label">Username</label>
            <input type="text" name="username" id="username" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" name="password" id="password" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{{ url_for('local_auth.signup') }}" class="btn btn-default" role="button">Sign up</a>
    </form>
    <hr/>
    <div class="row">
        <a href="{{ url_for('linkedin.login', next=url_for('main.index')) }}" class="btn btn-default">
            <i class="fa fa-linkedin"></i>
            Log in with LinkedIn
        </a>
    </div>
</div>
{% endblock %}
