{% extends "base.html" %}

{% block content %}
<div class="container">
    <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group">
            <label for="new">Upload</label>
            <input type="file" name="new"/>
        </div>
        <button class="btn btn-primary">Send</button>
    </form>
</div>
{% endblock %}
