{% extends "base.html" %}

{% block content %}
<div class="container">
    <form action="." method="post" class="form-inline">
        <label for="email" class="control-label">E-mail</label>
        <input type="text" name="email" id="email" class="form-control"/>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>
{% endblock %}
