{% extends "mail/base.html" %}

{% block content %}
    <h2>Hello!</h2>
    <p>You were registered at WASD</p>
    <p>
        Your username: <strong>{{ username }}</strong><br/>
        Your password: <strong>{{ password }}</strong>
    </p>
    <p><a href="{{ url_for('main.index', _external=True) }}">Welcome!</a></p>
{% endblock %}
